<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repositoryBean" class="student.repository.MemoryStudentRepository" />

    <bean id="serviceBean" class="student.service.StudentService">
        <constructor-arg ref="repositoryBean" />
    </bean>

    <bean id="controllerBean" class="student.controller.StudentController">
        <constructor-arg ref="serviceBean" />
    </bean>

</beans>
